# Email provider configuration
EMAIL_PROVIDER=gmail
EMAIL_FROM=
SUPPORT_EMAIL=
GMAIL_USER=
GMAIL_APP_PASSWORD=
SENDGRID_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SMTP_KEY=
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASSWORD=

# Database configuration
DB_TYPE=sqlite
MONGODB_URI=
SQLITE_DB_PATH=./chaptered.sqlite

# Auth configuration
JWT_SECRET=
JWT_EXPIRES_IN=7d
